.form-container {
  margin: 30px auto;
  width: 40%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  height: 600px;
  display: grid;
}

.roll-logo {
  animation: app-logo-spin infinite 20s linear;
  margin: 35px;
  width: 150px;
  height: 100px;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.close-btn {
  position: absolute;
  top: 2%;
  right: 3%;
  font-size: 1.5rem;
  z-index: 1;
  color: black;
  cursor: pointer;
}

.form-success {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  color: #1d2129;
}

.form-content {
  border-radius: 10px;
  position: relative;
  background-color: #e9ebee;
}

.form-content-success {
  border-radius: 10px;
  position: relative;
  background-color: #e9ebee;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form h1 {
  font-size: 1rem;
  text-align: start;
  width: 80%;
  margin-bottom: 1rem;
  color: #1d2129;
}

.form-inputs {
  margin-bottom: 0.5rem;
  width: 80%;
}

.form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.form-label {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 6px;
  color: #1d2129;
}

.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
}

.form-input::placeholder {
  color: #595959;
  font-size: 12px;
}

.form-input-btn {
  width: 80%;
  height: 50px;
  margin-top: 10px;
  border-radius: 2px;
  background: linear-gradient( 90deg, rgb(39, 176, 255) 0%, rgb(0, 232, 236) 100%);
  outline: none;
  border: none;
  color: #1d2129;
  font-size: 1rem;
}

.form-input-btn:hover {
  cursor: pointer;
  background: linear-gradient( 90deg, rgb(39, 143, 255) 0%, rgb(12, 99, 250) 100%);
  transition: all 0.4s ease-out;
}

.form-input-login {
  font-size: 0.8rem;
  margin-top: 10px;
  color: #1d2129;
  width: 80%;
  text-align: center;
}

.form-input-login a {
  text-decoration: none;
  color: #27cdff;
  font-weight: 600;
}

.form-success-register {
  font-size: 0.8rem;
  margin-top: 50px;
  color: #1d2129;
  display: flex;
  justify-content: center;
  text-align: center;
}

.form-success-register a {
  text-decoration: none;
  color: #27cdff;
  font-weight: 600;
  white-space: pre;
}

.full {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.heading {
  display: flex;
  font-weight: bold;
  justify-content: center;
  text-align: center;
}

.checkout {
  display: flex;
  flex-direction: column;
  color: blueviolet;
  align-items: center;
  margin-bottom: 50%;
}

.top {
  position: relative;
  top: 20px;
  color: blue;
  font-size: 20px;
  ;
}